.cnt {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.textFav {
  margin-top: 25px;
  text-align: center;
  text-shadow: 0 0 5px rgb(247, 239, 239), 0 0 10px rgb(240, 132, 124),
    0 0 20px rgb(240, 165, 159), 0 0 40px rgb(243, 182, 178),
    0 0 80px rgb(240, 181, 177), 0 0 90px rgb(240, 199, 196),
    0 0 100px rgb(245, 200, 197), 0 0 140px rgb(243, 207, 205),
    0 0 180px rgb(253, 249, 249);
}

.favCtn {
  margin-top: 20px;
}
.favList {
  margin-top: 15px;
  border-radius: 5px;
  width: 300px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.navText {
  justify-content: center;
  color: rgba(184, 169, 169, 0.89);
}
.navText:hover {
  color: rgba(230, 225, 225, 0.87);
}

.btnFav {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.btnFav:hover {
  color: red;
}
.ctn {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.containsPrev {
  margin: 10px;
  width: 250px;
  height: 350px;
  opacity: 0.8;
  border-radius: 20px;
  align-items: center;
}
.post {
  align-items: center;
  width: 100%;
  height: 89%;
}
.corazon2 {
  width: 25px;
  height: 25px;
}
.corazon2:hover {
  color: red;
}
