.container{
    justify-content:center;
    display:flex;
}
.image{
    justify-content:flex-end;
}
.buttonGoBack{

    align-items:center;
}
.links{
    margin-top: 25px;
    display:flex;
    justify-content:space-between;
}