.movieCtn {
  border-radius: 5px;
  height: auto;
  flex-wrap: wrap;
}

.btnFav {
  margin: 2px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.btnFav:hover {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.185);
}
.texNav {
  margin-top: -5px;
  justify-content: center;
  color: rgba(184, 169, 169, 0.89);
}
.texNav:hover {
    color: rgba(230, 225, 225, 0.87);
}

.containsPrev {
  margin: 10px;
  width: 250px;
  height:350px;
  opacity: 0.8;
  border-radius: 20px;
  align-items: center;
}
.ctn {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
.CtnMayor {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items:center;
}

.post {
  align-items: center;
  width: 100%;
  height: 89%;
}

.corazon1 {
  margin-bottom: -5px;
  width: 30px;
  height: 30px;
}
.corazon1:hover {
  color: red;
}
